/*informação do usuário*/
:root{
    --cor1: #DD4586;
    --cor2: #F44D71;
    --cor3: #FD5465;
    --cor4: #FE6659;
    --cor5: #FE7350;
    --cor6: #FF8941;
}
body{
    background-color: rgba(128, 128, 128, 0.299);
    margin: 0px;
}
#telabranca{
    background-color: rgba(255, 255, 255, 0.385) ;
    width: 93%;
    height: 1900px;
    margin-left: 50px;
    margin-right: 50px;
}
#perguntaquemevc{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5), var(--cor6));
}
#alinhar{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 20vh;
}
.titulodapergunta{
    font-size: 4em;
    color: white;
    font-family: cursive;
    text-align: center;
}
#alinhar2{
    width: 400px;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    top: 120px;
    left: 40%;
}
.pergunta{
    background: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5), var(--cor6));
    border-radius:0px 10px 0px 0px ;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.03);
}
.enunciado{
    color: white;
    font-family: cursive;
    font-size: 2em;
    text-align: center;
}
.preenchimento{
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 10px;

}
.botaodedigitar{
    border-radius: 0 10px 10px 10px;
    position: relative;
    bottom: 120px;
    left: 60px;
    border: solid rgba(0, 0, 0, 0.399);
}
.enviar{
    font-weight: bold;
    border: white;
    color: white;
    border-radius: 0px 10px 10px;
    height: 30px;
    width: 100px;
    position: relative;
    bottom: 70px;
    right: 70px;
    background: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5), var(--cor6));
    transition: transform 0.3s;
}
.enviar:hover{
    cursor: pointer;
    transform: scale(1.2);
}
/*segunda pergunta*/
#alinhar3{
    width: 100px;
    margin-top: 50px;
    align-items: center;
    justify-items: center;
    position: relative;
    top: 120px;
    left: 40%;
    padding-bottom: 50px;
}
.alinhartamanhocomadivanterior{
    width: 310px;
}
.genero{
    display: block;
}
#alinhar4{
    position: relative;
    top: 100px;
}
.botãodecontinuar{
    position: relative;
    left: 70px;
    top: 60px;
    border: rgba(255, 255, 255, 0.385) ;
    font-family: cursive;
    background-color: #a09999;
    color: white;
    font-size: 2em;
    transition: transform 0.4s;
    border-radius: 0pc 10px 10px;
}
.botãodecontinuar:hover{
    font-family: cursive;
    cursor: pointer;
    color: white;
    transform: scale(1.2);
    background: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5), var(--cor6));
}
#curiosidade{
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 1600px;
    right: 400px;
    width: 150px;
    font-weight: bold;
    color: white;
    font-family: cursive;
    transform: transition 0.4s;
}
#curiosidade:hover{
    transform: scale(1.2);
}
#curiosidadelink{
    text-decoration: none;
}
#linknovousuario{
    text-decoration: none;
}